<template name="layout">
	<style>
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
</style>

	<div class="container">

		<!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed"
			  			data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{{pathFor 'home'}}">
		      	Home</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav">
							<li><a href="{{pathFor 'about'}}">About</a></li>
							<li><a href="{{pathFor 'demo'}}">VR</a></li>
							<!--<li><a href="{{pathFor 'userList'}}">Users</a></li>-->
							<li><a href="{{pathFor 'fbusers'}}">Friends</a></li>
							<li><a href="{{pathFor 'fbmyprofile'}}">My Profile</a></li>
							<li><a href="{{pathFor 'fbtimeline'}}">Feed</a></li>
							<li><a href="{{pathFor 'submit'}}">Submit</a></li>
							<li><a href="{{pathFor 'contact'}}">Contact Us</a></li>
							<br>
<input type="text" name="search" placeholder="Search..">
						</ul>
			    <ul class="nav navbar-nav navbar-right">
			            {{> loginButtons}} <!-- here -->
			    </ul>
		    </div><!-- /.navbar-collapse -->

		  </div><!-- /.container-fluid -->
		</nav>

		<!-- Here is where the actual content of the page gets inserted by the router! -->
		{{> yield}}

	</div>
</template>
